{% include 'includes/htmlHead.twig' %}
{% include 'includes/head.twig' %}
<body>
    {% include 'includes/nav.twig' %}
    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                {% for page in pages|sort_by("time")|reverse %}
                    {% if page.id starts with "blog/" %}
                        <div class="blog-post">
                            <h2 class="blog-post-title"><a href="{{ page.url }}">{{ page.title }}</a></h2>
                            <p class="blog-post-meta">
                                <i class="fa fa-calendar"></i> {{ page.date }}
                                by <a href="{{ page.author|link }}">{{ page.author }}</a>
                            </p>
                            {{ page.description|slice(0, 500) }}
                        </div>
                        <hr>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="col-sm-3 col-sm-offset-1">
                {% include 'includes/sidebar.twig' %}
            </div>
        </div>
    </div>
    {% include 'includes/foot.twig' %}
</body>
{% include 'includes/htmlFoot.twig' %}
